body,
h1,
h2,
h3,
p,
nav {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  background-image: url('../assets/landingBackground.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.landing-page {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

main {
  padding: 2rem;
}

.hero {
  position: relative;
  padding: 4rem 2rem;
  color: #fff;
  font-family: sans-serif;
  text-align: left;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.hero-p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  opacity: 0.8;
}

.hero-button {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #fff;
  color: #000;
}