label{
   display: block;
   color: whitesmoke; 
}

h1{
    color: white;
}

h2{
    color: lightblue;
}

.FieldMargin{
    margin-top: 2px;
}

.centered{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}