/* .product-card {
    height: 300px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;

    text-decoration: none;
}

.product-card:hover {
    transform: translateY(-15px) scale(1.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    background-color: #b1f1d6;
}

.product-card:hover .product-title {
    text-decoration: underline;
} */

.product-image {
  width: calc(100% - 10px);
  height: 200px;
  object-fit: cover;
  margin: 5px auto;
  display: block;
}
